[submodule "sources_non_forked/vim-tmux-navigator"]
	path = pack/main/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
	ignore = untracked
[submodule "sources_non_forked/papercolor-theme"]
	path = pack/theme/start/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme
	ignore = untracked
[submodule "pack/main/start/vim-fugitive"]
	path = pack/main/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
	ignore = untracked
[submodule "pack/theme/start/papercolor-theme"]
	path = pack/theme/start/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme.git
	ignore = untracked
[submodule "pack/main/start/CSApprox"]
	path = pack/main/start/CSApprox
	url = https://github.com/vim-scripts/CSApprox
	ignore = untracked
[submodule "pack/main/start/YouCompleteMe"]
	path = pack/main/start/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe
	ignore = untracked
[submodule "pack/main/start/ctrlp.vim"]
	path = pack/main/start/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
	ignore = untracked
[submodule "pack/main/start/editorconfig-vim"]
	path = pack/main/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
	ignore = untracked
[submodule "pack/main/start/jq.vim"]
	path = pack/lang/start/jq.vim
	url = https://github.com/vito-c/jq.vim.git
	ignore = untracked
[submodule "pack/main/lang/start/semshi"]
	path = pack/lang/start/semshi
	url = https://github.com/numirias/semshi.git
	ignore = untracked
[submodule "pack/lang/opt/nvim-treesitter"]
	path = pack/lang/opt/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
	ignore = untracked
[submodule "pack/main/start/nerdtree"]
	path = pack/main/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
	ignore = untracked
[submodule "pack/main/start/open_file_under_cursor.vim"]
	path = pack/main/start/open_file_under_cursor.vim
	url = https://github.com/amix/open_file_under_cursor.vim
	ignore = untracked
[submodule "pack/main/start/syntastic"]
	path = pack/lang/start/syntastic
	url = https://github.com/vim-syntastic/syntastic
	ignore = untracked
[submodule "pack/main/start/tagbar"]
	path = pack/main/start/tagbar
	url = https://github.com/preservim/tagbar.git
	ignore = untracked
[submodule "pack/main/start/powerline"]
	path = pack/main/start/powerline
	url = https://github.com/powerline/powerline.git
	ignore = untracked
[submodule "pack/main/start/vim-commentary"]
	path = pack/main/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
	ignore = untracked
[submodule "pack/main/start/vim-gitgutter"]
	path = pack/main/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "pack/lang/start/vim-terraform"]
	path = pack/lang/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform
[submodule "pack/lang/start/vim-python-pep8-indent"]
	path = pack/lang/start/vim-python-pep8-indent
	url = https://github.com/Vimjas/vim-python-pep8-indent
[submodule "pack/main/start/ultisnips"]
	path = pack/main/start/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "pack/main/start/vim-snippets"]
	path = pack/main/start/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "pack/main/start/vim-expand-region"]
	path = pack/main/start/vim-expand-region
	url = https://github.com/terryma/vim-expand-region
[submodule "pack/main/start/vim-indentwise"]
	path = pack/main/start/vim-indentwise
	url = https://github.com/jeetsukumaran/vim-indentwise
[submodule "pack/main/start/python-mode"]
	path = pack/lang/start/python-mode
	url = https://github.com/python-mode/python-mode
[submodule "pack/main/start/vim-repeat"]
	path = pack/main/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "pack/main/start/vim-surround"]
	path = pack/main/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/lang/start/vim-toml"]
	path = pack/lang/start/vim-toml
	url = https://github.com/cespare/vim-toml
[submodule "pack/lang/start/Vim-Jinja2-Syntax"]
	path = pack/lang/start/Vim-Jinja2-Syntax
	url = https://github.com/Glench/Vim-Jinja2-Syntax
[submodule "pack/lang/start/vim-polyglot"]
	path = pack/lang/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "pack/lang/start/vim-flake8"]
	path = pack/lang/start/vim-flake8
	url = https://github.com/nvie/vim-flake8
[submodule "pack/lang/start/vim-virtualenv"]
	path = pack/lang/start/vim-virtualenv
	url = https://github.com/jmcantrell/vim-virtualenv
[submodule "pack/lang/start/vim-gfm-syntax"]
	path = pack/lang/start/vim-gfm-syntax
	url = https://github.com/rhysd/vim-gfm-syntax
[submodule "pack/lang/start/vim-solidity"]
	path = pack/lang/start/vim-solidity
	url = https://github.com/tomlion/vim-solidity
[submodule "pack/lang/start/markdown-preview.nvim"]
	path = pack/lang/start/markdown-preview.nvim
	url = https://github.com/iamcco/markdown-preview.nvim
